.container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content:center;
  align-items: center;
}
.quadrado_vermelho {
  background-color: red;
  width: 35px;
  height: 35px;
  margin: 75px;
  padding: 10px;
  justify-content: center;
}
.quadrado_amarelo {
  background-color: yellow;
  width: 35px;
  height: 35px;
  margin: 75px;
  padding: 10px;
}
.quadrado_azul {
  background-color: blue;
  width: 35px;
  height: 35px;
  margin: 75px;
  padding: 10px;
  justify-content: end;
}

